* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 60%;
    margin: 0.5rem auto;
    padding: 2.5rem;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    /* margin-bottom: 30px; */
}